{% include 'sidebar' %}

<header class="header {% if request.path == '/' %}header--homepage{% endif %}">
	<div class="cont cont--fw">
		<div class="header__wrapper">
			<div class="header-block header-block--left">
				<div class="header-item header-item--logo">
					<a href="/">
						<svg xmlns="http://www.w3.org/2000/svg" width="90" height="50" viewBox="0 0 155 87" fill="none"><path d="M155 0H0V86.8H155V0Z" fill="#E21A1A"/><path d="M97.6413 25.0934V26.7486H111.982C112.944 26.7486 114.364 26.7486 115.326 27.7009C116.288 28.6532 116.288 30.059 116.288 31.0113V45.2053C116.288 46.1576 116.288 47.5634 115.326 48.5157C114.364 49.468 112.944 49.468 111.982 49.468H105.041C103.849 49.468 102.292 49.468 101.696 48.1529C101.1 46.8605 101.925 45.6815 102.658 44.7292L111.982 32.4398H97.6413L91.9143 40.0129C90.9521 41.2827 90.1274 42.371 90.1274 43.7995C90.1274 45.228 90.8834 46.2483 91.9143 47.5861L93.3575 49.468C94.7778 51.35 96.221 53.2546 98.1223 54.2069C100.047 55.1592 102.314 55.1592 105.407 55.1592H111.615C115.189 55.1592 120.572 55.1592 124.146 51.6221C127.719 48.0622 127.719 42.8699 127.719 40.9879V35.3194C127.719 33.4375 127.719 28.2224 124.146 24.6853C120.595 21.0801 115.212 21.0801 111.615 21.0801H101.696C100.734 21.0801 99.5426 21.0801 98.6034 22.0324C97.6413 22.962 97.6413 24.1411 97.6413 25.0934Z" fill="white"/><path d="M79.2234 32.4397H93.5638L76.3599 55.1365H62.0195L79.2234 32.4397Z" fill="white"/><path d="M22.3198 36.4303C22.3198 35.5006 22.3198 34.2989 23.282 33.3466C24.2441 32.417 25.4353 32.417 26.3974 32.417H50.405C53.5205 32.417 55.7884 32.417 57.6898 33.3466C59.614 34.2989 61.0343 36.1809 62.4775 38.0855L63.8978 39.9901C64.9058 41.3279 65.6846 42.3482 65.6846 43.7767C65.6846 45.2051 64.86 46.2935 63.8978 47.5632L58.1708 55.1364H43.8075L53.1311 42.847C53.8412 41.8947 54.6888 40.7157 54.0932 39.4232C53.4976 38.1308 51.9398 38.1308 50.7486 38.1308H39.5237V66.4961H28.0468V38.0855H22.3198V36.4303Z" fill="white"/></svg>	
					</a>
				</div>
			</div>
			<div class="header-block header-block--right">
				<div class="header-item header-item--menu">
					
					<div class="header__contact auth">	
						<a class="js-auth" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<path d="M7.81429 0C9.07367 0 10.2163 0.515321 11.042 1.34712C11.8677 2.17891 12.3792 3.32998 12.3792 4.59868C12.3792 5.86738 11.8677 7.01845 11.042 7.85025C10.2163 8.68204 9.07367 9.19736 7.81429 9.19736C6.55491 9.19736 5.41229 8.68204 4.5866 7.85025C3.76092 7.01845 3.24938 5.86738 3.24938 4.59868C3.24938 3.32998 3.76092 2.17891 4.5866 1.34712C5.41229 0.515321 6.55491 0 7.81429 0ZM6.18237 10.0488H9.42118C10.9669 10.0488 12.3736 10.6845 13.3911 11.7124C14.4087 12.7374 15.0425 14.1545 15.0425 15.7117C15.0425 16.0646 14.898 16.3867 14.6672 16.6191L14.6644 16.6219C14.4337 16.8544 14.114 17 13.7637 17H1.83988C1.48958 17 1.16987 16.8544 0.939127 16.6219L0.936347 16.6191C0.7056 16.3867 0.561035 16.0646 0.561035 15.7117C0.561035 14.1545 1.19212 12.7374 2.21241 11.7124C3.22992 10.6873 4.63664 10.0488 6.18237 10.0488ZM9.42118 11.4771H6.18237C5.02864 11.4771 3.97776 11.9532 3.21602 12.7206C2.48486 13.4572 2.02058 14.4598 1.98444 15.5689H13.6219C13.5857 14.4626 13.1187 13.4572 12.3903 12.7206C11.6286 11.9532 10.5777 11.4771 9.42396 11.4771H9.42118ZM10.0411 2.35815C9.47122 1.78402 8.68445 1.42834 7.81429 1.42834C6.94412 1.42834 6.15735 1.78402 5.58744 2.35815C5.01752 2.93229 4.66445 3.72488 4.66445 4.60148C4.66445 5.47809 5.01752 6.27067 5.58744 6.84481C6.15735 7.41895 6.94412 7.77463 7.81429 7.77463C8.68445 7.77463 9.47122 7.41895 10.0411 6.84481C10.6111 6.27067 10.9641 5.47809 10.9641 4.60148C10.9641 3.72488 10.6111 2.93229 10.0411 2.35815Z" fill="#2B2A29"></path>
</svg><span>&nbsp;Личный кабинет</span>
						</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</header>