<div class="rzd-card">
	<div class="rzd-card__top">
		<div class="rzd-card__title">
			<a href="{$ item.path $}">{$ item.field_header $}</a>
		</div>
		<div class="rzd-card__block rzd-card__block--rip">
			РИП: {$ item.field_rzd_rip $}
		</div>
		<div class="rzd-card__block rzd-card__block--user">
			Пользователь: {$ item.field_rzd_user $}
		</div>
		<div class="rzd-card__block rzd-card__block--desc">
			Краткое описание: {$ item.field_summary $}
		</div>
	</div>
	<div class="rzd-card__bottom">
		<a href="{$ item.path $}">Подробнее</a>
	</div>
</div>