{% set homepage = page %}
{% set index = page %}
{% set check = true %}
{% for items in 1..10 if check %}
	{% if index.parent_page|length > 0 %}
		{% set index = index.parent_page %}
		{% set homepage = index %}
	{% else %}
		{% set check = false %}
	{% endif %}
{% endfor %}

{% set cities = [] %}

{% for item in homepage.active_sub_pages %}
	{% if item.layout_id == 7 %}
		{% set cities = cities|merge([item]) %}
	{% endif %}
{% endfor %}

{% set cats = [] %}

{% for city in cities %}
	{% set cat = [] %}
	{% for item in city.active_sub_pages %}
			{% set cat = cat|merge([item]) %}
	{% endfor %}
	{% if cat %}
		{% set city = city.field_header %}	
		{% set newCat = {city: city, cat: cat} %}
		{% set cats = cats|merge([newCat]) %}
	{% endif %}
{% endfor %}

<aside class="sbar" id="main-sidebar" data-cities="{$ cats|json_encode() $}">
	<div class="sbar__wrapper">
		<div class="sbar-search">
			<button @click="toggleMSearch" class="icon-btn sbar-search__btn">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"><path d="M3.37013 4.10405C4.34101 3.10461 5.45467 2.36217 6.65399 1.81962C7.91042 1.27707 9.22397 0.991513 10.5661 0.991513C11.9082 0.962958 13.2503 1.21996 14.5067 1.7054C15.7346 2.19084 16.8768 2.90472 17.8477 3.8756C18.8471 4.84648 19.5896 5.96014 20.1321 7.15947C20.6747 8.4159 20.9602 9.72945 20.9602 11.0715C20.9888 12.2994 20.7889 13.5559 20.3606 14.7266C19.9893 15.7832 19.4182 16.8112 18.6758 17.6964L24.9865 23.8358C25.0722 23.9215 25.1293 24.0357 25.1293 24.1499C25.1293 24.2641 25.1007 24.3783 24.9865 24.4926L24.3869 25.1208C24.3012 25.2064 24.187 25.2636 24.0728 25.2636C23.9585 25.2636 23.8443 25.235 23.7301 25.1208L17.4194 18.9814C16.5341 19.7524 15.5347 20.352 14.5067 20.7518C13.3359 21.2087 12.1366 21.4371 10.8802 21.4657C9.53808 21.4942 8.19598 21.2372 6.93954 20.7518C5.71166 20.2664 4.56945 19.5525 3.59857 18.5816C2.59913 17.6107 1.85669 16.4971 1.31414 15.2977C0.771589 14.0413 0.486036 12.7278 0.486036 11.3857C0.45748 10.0436 0.714478 8.70146 1.19992 7.44502C1.68536 6.21714 2.39924 5.07493 3.37013 4.10405ZM10.5946 2.64772C9.48097 2.67628 8.36731 2.90472 7.31076 3.36161C6.31133 3.78994 5.369 4.41815 4.56945 5.27481C3.7699 6.10292 3.14168 7.0738 2.74191 8.07324C2.31358 9.12979 2.11369 10.2434 2.14225 11.3857C2.1708 12.4993 2.39924 13.613 2.85613 14.6695C3.28446 15.669 3.91268 16.6113 4.76934 17.4108C5.59744 18.2104 6.56832 18.8386 7.56776 19.2384C8.62431 19.6667 9.73797 19.8666 10.8802 19.838C11.9938 19.8095 13.1075 19.581 14.164 19.1242C15.1635 18.6958 16.1058 18.0676 16.9054 17.2109C17.7049 16.3828 18.3331 15.412 18.7329 14.4125C19.1612 13.356 19.3611 12.2423 19.3326 11.1001C19.304 9.98645 19.0756 8.87279 18.6187 7.81624C18.1903 6.8168 17.5621 5.87448 16.7055 5.07493C15.8774 4.27538 14.9065 3.64716 13.907 3.24739C12.8505 2.81906 11.7368 2.61917 10.5946 2.64772Z" fill="white"/><path d="M9.22289 6.44461C9.02301 6.50172 8.82312 6.47317 8.65179 6.3875C8.48045 6.30183 8.33768 6.15906 8.28057 5.95917C8.22346 5.75928 8.25201 5.55939 8.33768 5.38806C8.42334 5.21673 8.56612 5.07395 8.76601 5.01684C9.36567 4.81696 9.96533 4.70273 10.5935 4.70273C11.2218 4.67418 11.8214 4.73129 12.4211 4.87407C13.0208 5.01684 13.5919 5.24529 14.1344 5.53084C14.677 5.81639 15.1624 6.18761 15.6193 6.61594C15.7621 6.75872 15.8477 6.93005 15.8477 7.12994C15.8477 7.32983 15.7906 7.50116 15.6478 7.64393C15.5051 7.78671 15.3337 7.87238 15.1338 7.87238C14.934 7.87238 14.7626 7.81527 14.6199 7.67249C14.2772 7.32982 13.8774 7.04427 13.4491 6.81583C13.0208 6.58739 12.5639 6.41605 12.107 6.30183L12.0499 6.27328C11.593 6.15906 11.1361 6.1305 10.6792 6.15906C10.1938 6.18761 9.73689 6.27328 9.25145 6.41605L9.22289 6.44461Z" fill="white"/><path d="M6.28185 8.5006C6.16763 8.67193 5.9963 8.78615 5.82497 8.81471C5.65364 8.84326 5.45375 8.81471 5.28242 8.70049C5.11108 8.58627 4.99686 8.41493 4.96831 8.2436C4.93975 8.07227 4.96831 7.87238 5.08253 7.70105L5.16819 7.55827L5.25386 7.4155L5.36808 7.27272L5.45375 7.1585C5.51086 7.07283 5.59652 7.01572 5.65364 6.93006C5.71075 6.84439 5.79641 6.78728 5.85352 6.70161C5.91063 6.6445 5.9963 6.55884 6.05341 6.50173C6.13908 6.44461 6.19619 6.35895 6.28185 6.30184C6.42463 6.15906 6.62452 6.10195 6.8244 6.13051C7.02429 6.13051 7.19562 6.21617 7.3384 6.3875C7.48118 6.53028 7.53829 6.73017 7.50973 6.93006C7.50973 7.12994 7.42407 7.30128 7.25273 7.44405C7.19562 7.50116 7.13851 7.52972 7.0814 7.61538C7.02429 7.67249 6.96718 7.72961 6.91007 7.78672C6.85296 7.84383 6.79585 7.90094 6.73874 7.95805C6.68163 8.01516 6.62452 8.07227 6.59596 8.12938L6.5103 8.2436L6.36752 8.44349L6.28185 8.55771V8.5006Z" fill="white"/></svg>
			</button>
		</div>
		<div class="sbar-menu">
			<ul class="sbar-menu__list sbar-menu__list--skeleton">
				<li class="sbar-menu__item">
					<a class="sbar-menu__link" href="/requests">
						<div class="sbar-menu__link-icon">
							<img src="/site/theme/images/task.png" width="31">
							<!--svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.1644 4.57764e-05H14.1539L14.1682 0.0143134C14.054 0.0143134 13.9542 0.028581 13.84 0.0571162C13.7259 0.0856514 13.626 0.128454 13.5404 0.185525C13.5261 0.192658 13.5119 0.20336 13.4976 0.214061C13.4833 0.224761 13.4691 0.235461 13.4548 0.242595C13.3121 0.342468 13.2122 0.470876 13.1266 0.613552C13.0553 0.756228 13.0125 0.92744 13.0125 1.09865V2.93917H10.1447C9.91643 2.93917 9.68814 3.03904 9.5312 3.19599C9.37426 3.35293 9.27438 3.56694 9.27438 3.80949C9.27438 4.05204 9.37426 4.26606 9.5312 4.423C9.68814 4.57994 9.90216 4.67982 10.1447 4.67982H25.7249L28.4358 6.87703L25.7249 9.07424H6.23539V4.67982H7.00584C7.24839 4.67982 7.4624 4.57994 7.61934 4.423C7.77629 4.26606 7.87616 4.05204 7.87616 3.80949C7.87616 3.58121 7.77629 3.35293 7.61934 3.19599C7.4624 3.03904 7.24839 2.93917 7.00584 2.93917H5.3508C5.12251 2.93917 4.89423 3.03904 4.73729 3.19599C4.58035 3.35293 4.48047 3.56694 4.48047 3.80949V9.95883C4.48047 10.2014 4.58035 10.4154 4.73729 10.5723C4.89423 10.7293 5.10825 10.8292 5.3508 10.8292H13.0125V12.3701H5.3508C5.23666 12.3701 5.12251 12.3843 5.02264 12.4271C4.92277 12.4699 4.82289 12.527 4.75156 12.5983L0.999179 15.6373C0.8137 15.78 0.713827 15.994 0.685292 16.2223C0.656757 16.4506 0.713827 16.6789 0.87077 16.8643L0.942108 16.9357C0.956376 16.9428 0.967077 16.9535 0.977777 16.9642C0.988478 16.9749 0.999179 16.9856 1.01345 16.9928L4.79436 20.0603C4.85143 20.1031 4.9085 20.1459 4.96557 20.1744V20.26H12.9982V26.4236C12.9982 26.5948 13.041 26.7661 13.1124 26.9087C13.1837 27.0514 13.2978 27.1798 13.4405 27.2797L13.7401 27.4937L13.7829 27.4509H13.7972C13.9114 27.4937 14.0398 27.508 14.1682 27.508H17.1786C17.307 27.508 17.4354 27.4937 17.5496 27.4509C17.678 27.4081 17.7921 27.351 17.892 27.2797L18.049 27.1656V27.137C18.1203 27.0657 18.1774 26.9801 18.2202 26.8945C18.3058 26.7518 18.3486 26.5806 18.3486 26.4094V22.3003C18.3486 22.072 18.2487 21.8437 18.0918 21.6868C17.9348 21.5298 17.7208 21.43 17.4783 21.43C17.25 21.43 17.0217 21.5298 16.8647 21.6868C16.7078 21.8437 16.6079 22.0577 16.6079 22.3003V25.7388H14.7674V20.2458H15.6805C15.9231 20.2458 16.1371 20.1459 16.294 19.9889C16.451 19.832 16.5509 19.618 16.5509 19.3754C16.5509 19.1472 16.451 18.9189 16.294 18.7619C16.1371 18.605 15.9231 18.5051 15.6805 18.5051H5.65042L2.93957 16.3079L5.65042 14.1107H25.14V18.5051H22.4576C22.2294 18.5051 22.0011 18.605 21.8441 18.7619C21.6872 18.9189 21.5873 19.1329 21.5873 19.3754C21.5873 19.618 21.6872 19.832 21.8441 19.9889C22.0011 20.1459 22.2151 20.2458 22.4576 20.2458H26.0103C26.2528 20.2458 26.4668 20.1459 26.6238 19.9889C26.7807 19.832 26.8806 19.618 26.8806 19.3754V13.2261C26.8806 12.9978 26.7807 12.7695 26.6238 12.6126C26.4668 12.4557 26.2528 12.3558 26.0103 12.3558H18.3486V10.8149H26.3812V10.7293C26.4383 10.7007 26.4954 10.6579 26.5524 10.6151L30.3334 7.5476C30.3619 7.53334 30.3762 7.51907 30.4047 7.49053C30.4148 7.48043 30.4249 7.47211 30.4344 7.46431C30.4517 7.4501 30.4668 7.43762 30.476 7.4192C30.6187 7.23372 30.69 7.00544 30.6615 6.77715C30.6472 6.56314 30.5331 6.34913 30.3476 6.19218L26.5952 3.15318C26.5096 3.08185 26.424 3.02478 26.3242 2.98197C26.3126 2.97909 26.3012 2.97621 26.29 2.97336C26.1897 2.94796 26.0986 2.9249 25.996 2.9249H18.3343V1.08438C18.3343 0.913172 18.2915 0.741961 18.2202 0.599285C18.1488 0.456609 18.0347 0.3282 17.892 0.228327L17.5924 0.0143134L17.5496 0.0571162H17.5353C17.4212 0.0143134 17.2928 4.57764e-05 17.1644 4.57764e-05ZM16.5794 10.8434V12.3843H14.7389V10.8434H16.5794ZM18.2487 20.0175C18.4056 20.1744 18.6197 20.2743 18.8622 20.2743H19.3616C19.6041 20.2743 19.8181 20.1744 19.9751 20.0175C20.132 19.8605 20.2319 19.6465 20.2319 19.404C20.2319 19.1757 20.132 18.9474 19.9751 18.7905C19.8181 18.6335 19.6041 18.5337 19.3616 18.5337H18.8622C18.6339 18.5337 18.4056 18.6335 18.2487 18.7905C18.0918 18.9474 17.9919 19.1614 17.9919 19.404C17.9919 19.6465 18.0918 19.8605 18.2487 20.0175ZM16.5794 1.75496V2.9249H14.7389V1.75496H16.5794Z" fill="#ccc"/></svg-->
						</div>
						<div class="sbar-menu__link-title">
							Запросы
						</div>
					</a>
				</li>
				<li class="sbar-menu__item">
					<a class="sbar-menu__link" href="/projects">
						<div class="sbar-menu__link-icon">
							<img src="/site/theme/images/rocket.png" width="31">
							<!--svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" viewBox="0 0 36 27" fill="none"><path d="M1.12714 0.10872C4.5371 0.893438 8.6319 2.363 12.0704 3.40453L22.9423 0.122988C23.0422 0.0944526 23.142 0.0944519 23.2419 0.0944519C23.3418 0.0944519 23.4417 0.10872 23.5415 0.122988L34.5989 3.46161C34.6988 3.49014 34.7987 3.54721 34.8843 3.60428C34.9699 3.66135 35.0412 3.74696 35.1126 3.83256C35.1696 3.91817 35.2267 4.00377 35.2552 4.10365C35.2838 4.20352 35.298 4.30339 35.298 4.40327V8.61221C35.298 8.85475 35.1982 9.06877 35.0412 9.22571C34.8843 9.38266 34.6703 9.48253 34.4277 9.48253C34.1852 9.48253 33.9711 9.38266 33.8142 9.22571C33.6573 9.06877 33.5574 8.85475 33.5574 8.61221V4.9597L24.1265 2.12045V4.13218C24.1265 4.37473 24.0266 4.58875 23.8697 4.74569C23.7127 4.90263 23.4987 5.00251 23.2562 5.00251C23.0136 5.00251 22.7996 4.90263 22.6427 4.74569C22.4857 4.58875 22.3859 4.37473 22.3859 4.13218V2.12045L12.955 4.9597V7.09984C12.955 7.34239 12.8551 7.55641 12.6982 7.71335C12.5412 7.87029 12.3272 7.97017 12.0847 7.97017C11.8421 7.97017 11.6281 7.87029 11.4711 7.71335C11.3142 7.55641 11.2143 7.34239 11.2143 7.09984V4.9597L1.78345 2.12045V9.66801C1.78345 9.91056 1.68358 10.1246 1.52663 10.2815C1.36969 10.4385 1.15568 10.5383 0.913126 10.5383C0.670577 10.5383 0.456563 10.4385 0.29962 10.2815C0.142676 10.1246 0.0428028 9.91056 0.0428028 9.66801V1.02185C0.0428028 0.979042 0.0428028 0.936242 0.0570704 0.879171C0.0570704 0.836369 0.071338 0.793566 0.0856056 0.750763C0.114141 0.65089 0.156944 0.565284 0.214014 0.493946C0.271084 0.40834 0.342422 0.337003 0.41376 0.279932C0.442295 0.265665 0.456563 0.251396 0.485098 0.237128C0.556436 0.194326 0.642042 0.151523 0.71338 0.137256C0.798985 0.10872 0.884591 0.0944519 0.970197 0.0944519H1.0558C1.08434 0.0944519 1.11287 0.10872 1.14141 0.10872H1.15568H1.12714ZM33.5574 13.3062C33.5574 13.0637 33.6573 12.8497 33.8142 12.6927C33.9711 12.5358 34.1994 12.4359 34.4277 12.4359C34.6703 12.4359 34.8843 12.5358 35.0412 12.6927C35.1982 12.8497 35.298 13.078 35.298 13.3062V25.9188C35.298 25.9616 35.298 26.0044 35.2838 26.0615C35.2838 26.1043 35.2695 26.1471 35.2552 26.2042C35.2267 26.304 35.1839 26.3896 35.1268 26.461C35.0698 26.5466 34.9984 26.6179 34.9271 26.675C34.8985 26.7035 34.8557 26.7321 34.8129 26.7463C34.7416 26.7891 34.6703 26.8177 34.5989 26.8319C34.5276 26.8462 34.442 26.8605 34.3706 26.8605C34.3278 26.8605 34.285 26.8605 34.228 26.8462C34.1852 26.8462 34.1424 26.8319 34.0996 26.8177L23.2419 23.5504L12.3843 26.8177C12.2987 26.8462 12.1703 26.8605 12.0561 26.8605C11.942 26.8605 11.8278 26.8462 11.728 26.8177L0.699112 23.4933L0.627774 23.4648L0.570704 23.4362C0.499366 23.3934 0.428028 23.3506 0.35669 23.3078C0.285352 23.2508 0.228282 23.1937 0.185479 23.1224C0.128408 23.0367 0.071338 22.9511 0.0428028 22.8513C0.0142676 22.7514 0 22.6515 0 22.5516V16.4308C0 16.1883 0.0998732 15.9743 0.256817 15.8173C0.41376 15.6604 0.642042 15.5605 0.870323 15.5605C1.11287 15.5605 1.32689 15.6604 1.48383 15.8173C1.64077 15.9743 1.74065 16.2026 1.74065 16.4308V21.9809L11.1715 24.8202V22.6373C11.1715 22.3947 11.2714 22.1807 11.4283 22.0237C11.5853 21.8668 11.8136 21.7669 12.0419 21.7669C12.2844 21.7669 12.4984 21.8668 12.6554 22.0237C12.8123 22.1807 12.9122 22.409 12.9122 22.6373V24.8202L22.3431 21.9809V6.9001C22.3431 6.65755 22.4429 6.44353 22.5999 6.28659C22.7568 6.12965 22.9851 6.02977 23.2134 6.02977C23.4559 6.02977 23.6699 6.12965 23.8269 6.28659C23.9838 6.44353 24.0837 6.67181 24.0837 6.9001V21.9809L33.5146 24.8202V13.3062H33.5574ZM11.2001 11.7939C11.2001 11.5513 11.2999 11.3373 11.4569 11.1804C11.6138 11.0234 11.8421 10.9236 12.0704 10.9236C12.3129 10.9236 12.527 11.0234 12.6839 11.1804C12.8408 11.3373 12.9407 11.5656 12.9407 11.7939V17.9432C12.9407 18.1858 12.8408 18.3998 12.6839 18.5567C12.527 18.7137 12.3129 18.8135 12.0704 18.8135C11.8278 18.8135 11.6138 18.7137 11.4569 18.5567C11.2999 18.3998 11.2001 18.1858 11.2001 17.9432V11.7939ZM1.76918 13.6629C1.76918 13.9055 1.66931 14.1195 1.51237 14.2764C1.35542 14.4334 1.14141 14.5333 0.898859 14.5333C0.656309 14.5333 0.442296 14.4334 0.285352 14.2764C0.128408 14.1195 0.0285352 13.9055 0.0285352 13.6629V12.6214C0.0285352 12.3789 0.128408 12.1648 0.285352 12.0079C0.442296 11.851 0.670577 11.7511 0.898859 11.7511C1.14141 11.7511 1.35542 11.851 1.51237 12.0079C1.66931 12.1648 1.76918 12.3931 1.76918 12.6214V13.6629Z" fill="#ccc"/></svg-->
						</div>
						<div class="sbar-menu__link-title">
							Предложения
						</div>
					</a>
				</li>
				
			</ul>
		</div>
	</div>
</aside>